

.body_content{
    font-family:'Inter', sans-serif ;
    font-size: 48px;
    font-weight: 500px;
    font-style: normal;
    margin: 50px 0px 30px 20px;
}


.Breed{
    display: flex;
    flex-wrap: wrap;
   
}

.Breed img {
    width: 345px;
    height: 400px; 
    margin: 18px 0px 0px 18px;
}

 /* @media screen and (max-width:1130px) {
    .body_content {
        margin-left: 40px;
    }
    .Breed{
        margin-left: 20px;
    }
     
} */
@media screen and (max-width:768px) {
    .body_content {
        margin-left: 40px;
    }
    .Breed{
        margin-left: 20px;
    }
    .Breed img {
        width: 350px;
        height: 446px; 
        
}   }


@media screen and (max-width:500px) {
    .Breed img {
        width: 100%;
        
        /* height: 446px;  */
}   }
@media screen and (max-width:400px) {
    .Breed img {
        width: 300px;
        margin-left: 20px;
        /* height: 446px;  */
        
    }
   
}

@media screen and (max-width:375px) {
    .body_content {
        margin-left: 35px;
        font-size: 40px;
    }
    .Breed img {
        margin-left: 20px;
    }
    
        
}   

@media screen and (max-width:280px) { 
    .body_content {
        font-size: 35px;
        margin-left: 20px;
    }
    .Breed img {
       width: 300px;
       
      
      
        
    }
   
}





 
