.header {
    background: #ffffff;
}
.header-svg {
    text-align: center;
    align-items: center;
    margin-top: 187px
}

.header-svg img {
    width: 366px; ;
    height: 60px; ;
    margin-left: 50px;  
}

.header-svg h2 {
    font-family:'Inter', sans-serif ;
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    color: #000000;
   
}
@media screen and (max-width:768px){ 
    .header-svg h2{
        width: 500px;
        height: 65px;
        font-size: 80px;
        margin-left: 130px;
    }
    .header-svg img {
        width: 320px;
        height: 80px;
}    }
@media screen and (max-width:540px) {

    .header-svg {
        position: relative;
        top: 0px;
        left: 0px;
    }

    .header-svg h2{
        position: absolute;
        right: 120px;
        width: 350px;
        height: 70px;
        font-size: 50px;
       
        
    }

    .header-svg img {
        width: 300px;
        height: 70px;
        margin-right: 120px;
}    }
@media screen and (max-width:500px) {

    .header-svg {
        position: relative;
        top: 0px;
        left: 0px;
    }

    .header-svg h2{
        position: absolute;
        right: 50px;
        width: 350px;
        height: 70px;
        font-size: 60px;
       
        
    }

    .header-svg img {
        width: 300px;
        height: 70px;
        margin-right: 120px;
}    }
@media screen and (max-width:400px) {

    .header-svg {
        position: relative;
        top: 0px;
        left: 0px;
    }

    .header-svg h2{
        position: absolute;
        right: 50px;
        width: 300px;
        height: 70px;
        font-size: 50px;
       
        
    }

    .header-svg img {
        width: 250px;
        height: 50px;
        /* margin-right: 120px; */
}    }
@media screen and (max-width:280px) {


    .header-svg h2{
        position: absolute;
        right: 30px;
        width: 200px;
        height: 50px;
        font-size: 30px;
       
        
    }

    .header-svg img {
        width: 200px;
        height: 40px;
        /* margin-right: 120px; */
}    }



   

    



