.header {
    background: #ffffff;
}
.header-svg {
    text-align: center;
    align-items: center;
    margin-top: 187px
}

.header-svg img {
    width: 366px; ;
    height: 60px; ;
    margin-left: 50px;  
}

.header-svg h2 {
    font-family:'Inter', sans-serif ;
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    color: #000000;
   
}
@media screen and (max-width:768px){ 
    .header-svg h2{
        width: 500px;
        height: 65px;
        font-size: 70px;
        margin-left: 150px;
    }
    .header-svg img {
        width: 400px;
        height: 80px;
}   }
    .header-svg{
        margin-right: 60px;
    }


@media screen and (max-width:540px) {

    .header-svg {
        position: relative;
        top: 0px;
        left: 0px;
    }

    .header-svg h2{
        position: absolute;
        right: 120px;
        width: 310px;
        height: 60px;
        font-size: 40px;
       
        
    }

    .header-svg img {
        width: 280px;
        height: 60px;
        margin-right: 120px;
}    }
@media screen and (max-width:500px) {

    .header-svg {
        position: relative;
        top: 0px;
        left: 0px;
    }

    .header-svg h2{
        position: absolute;
        right: 3px;
        width: 310px;
        height: 40px;
        font-size: 55px;
       
        
    }

    .header-svg img {
        width: 250px;
        height: 55px;
        /* margin-right: 120px; */
        left: 60px;
}    }
@media screen and (max-width:400px) {

    .header-svg {
        position: relative;
        top: 0px;
        /* left: 0px; */
    }

    .header-svg h2{
        position: absolute;
        right: 25px;
        width: 240px;
        height: 40px;
        font-size: 40px;
       
        
    }

    .header-svg img {
        width: 180px;
        height: 40px;
        margin-left: 70px;
}    }
@media screen and (max-width:280px) {


    .header-svg h2{
        position: absolute;
        right: 30px;
        width: 150px;
        height: 30px;
        font-size: 30px;
       
        
    }

    .header-svg img {
        width: 150px;
        height: 30px;
        /* margin-right: 120px; */
}    }



   

    



